.add-btn, .remove-btn {
    background-color: #D0BFFF;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #D6DBF9;
}



.basket-item {
    display: flex;
    align-items: center;
}

.item-info {
    flex-grow: 1;
    padding: 0 10px;
}

.item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.discounted {
    color: gray;
    text-decoration: line-through;
}

.discounted-price {
    color: red;
}